{
  "presets": [
    ["env", {
      "targets": { node: "6" }, // specify targets here
    }],
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    ["transform-regenerator", {
      "generators": false
    }]
  ]
}