//colors
$white: #ffffff;
$color_boulder_approx: #797979;
$color_bon_jour_approx: #e2e2e2;

//fonts
$font_0: sans-serif;

#users {
  background: $white;
  height: 100%;
  max-height: 100%;
  ul {
    height: 100%;
    max-height: 100%;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    list-style-type: none;
    padding: 0.15em;
    font-family: $font_0;
    font-size: 1.0em;
    margin: 0;
    * {
      display: inline-block;
      vertical-align: middle;
    }
    .fas {
      width: 14px;
      height: 14px;
    }
    &.guest {
      color: $color_boulder_approx;
    }
    &.user {
      font-weight: bold;
    }
    &:hover {
      background-color: $color_bon_jour_approx;
    }
  }

  .kickBtn, .kickButton {
    outline: none;
    border: none;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
  }

  #myDropdown {
    display: none;
    &.show {
      display: block;
    }
  }

  .dropbtn {
    height: inherit;
    padding: 8px 10px;
    text-transform: uppercase;
    outline: none;
    border: 0;
    line-height: 0;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
    &:after {
      content: '\2807';
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}