// SCSS document
// Colors
// -------------------------------------------------

// Font
$colorFontMain: #333333; // default font color
$colorFontShade: #818181; // default font color
$colorFontContrast: #FFFFFF; // default font contrast

// Highlights
$colorMain1: rgba(77, 175, 74, 0.70);
$colorMain2: rgba(55, 126, 184, 0.70);
$colorMain3: rgba(255, 127, 0, 0.70);
$colorMain4: rgba(152, 78, 163, 0.70);
$colorMain5: rgba(228, 26, 28, 0.70);
