@import "../../style/colors";

//colors
$color_bon_jour_approx: #e2e2e2;

//fonts
$font_0: sans-serif;

#history {
  height: 100%;
  max-height: 100%;
  padding-right: 10px;
  ul {
    height: 100%;
    max-height: 100%;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    list-style-type: none;
    padding: 0.15em;
    font-family: $font_0;
    font-size: 1.0em;
    margin: 0;

    &.guest {
      color: $colorFontShade;
    }
    &.user {
      font-weight: bold;
    }
    &:hover {
      background-color: $color_bon_jour_approx;
    }
  }

  strong {
    color: $colorMain5;
  }
}

.badge {
  position: relative;
  border-radius: 50%;
  width: 20%;
  height: auto;
  padding-top: 20%;
  background: #30aee3;
  margin: 0 auto;

  .badgeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    float: left;
    transform-origin: center;
    transform: translate(-50%, -50%);
    font-size: 5rem;
  }
}

.badge[data-badge]:after {
  content: attr(data-badge);
}
